@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'itcfranklinnormal';
    src: url('./assets/fonts/ITC Franklin Gothic Book Compressed.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'itcfranklinbold';
    src: url('./assets/fonts/ITCFranklinGothicStd-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'dentonlight';
    src: url('./assets/fonts/Denton-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
